body{
	padding: 0 0 0 50px;
}

#content{
	padding: 50px !important;
}

section h2 {
	text-align: center;
}

#left_tool_menu{
	height: 100%;
	width: 50px;
	margin-left: -50px;
	padding: 0;
	background-color: #333333;
	position: fixed;
	z-index: 8;
}

#left_tool_menu hr{
	border: .5px solid gray;
}

.lateral_item {
	height: 50px;
	width: 200px;
	margin-left: -150px;
	display: flex;
	justify-content: flex-start;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
		-ms-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
			transition: all .3s ease-out;
}

.lateral_item:hover{
	margin-left: 0px;
	cursor: pointer;
	background-color: #05C7FF;
}

.lateral_item img{
	height: 24px;
	width: 24px;
	margin: 13px;
}

.lateral_item span {
	height: 50px;
	width: 150px;
	text-align: center;
	padding: 15px;
	font-size: 1.1em;
	font-weight: bold;
	color: white;
}

#chart_div{
	width: 100%
	height: 75vh;
}


/**************************************************/



#loading_screen_02{
	position: fixed;
	margin-left: -50 !important;
	z-index: 9999 !important;
	background-color: #E93976;
	transform: translateX(-50px);
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	/*visibility: hidden;*/
}

#loading_screen_02 img{
	height: 250px;
}
