body{
	background-color:#FFF;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size:1em;
	/*line-height:18px;*/
	line-height: normal;
	color:#777;
}

p{
	margin:0;
	text-align: justify;
}

a {
	color: #aa0a5f;
}

a, a:hover, a:focus{
	text-decoration: none;
	outline: 0;
}
h1, h2, h3,
h4, h5, h6 {
	color: #333;
	margin:0;
	font-weight: normal;
}

h1 { font-size: 28px;}
h2 { font-size: 24px;}
h3 { font-size: 18px;}
h5 { font-size: 1em;}
h6 { font-size: 14px;}

strong {
  letter-s;;Dacing: 1px;
}

code {
  background-color: #ddd;
  border-radius: 3px;
  color: #000;
  font-size: 85%;
  margin: 0;
  padding: 5px 10px;
}

code a {
	color: #333;
}

code a:hover {
	text-decoration: underline;
}

section p {
  line-height: 28px;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.tan {
  margin-bottom: 10px;
}

.fifteen{
	margin-bottom: 15px;
}

.twenty{
	margin-bottom: 20px;
}

.center {
	text-align: center;
}

.title {
	margin: 50px 0 30px;
}

.syntaxhighlighter {
	border: 1px solid #efefef;
	max-height: 100% !important;
	padding: 20px 0;
}


.main-content section {
  padding: 0 5%;
  background-color: #F2F2F2;
}

.left-sidebar {
	float: left;
	min-height: 100%;
	position: fixed;
	width: 18%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left-nav{
	width: 100%;
}

.left-nav ul {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

.left-nav ul li a {
	display: block;
	color: #757575;
	padding: 10px 35px;
	/*-webkit-transition: all 0.3s ease-in 0s;
	   -moz-transition: all 0.3s ease-in 0s;
		-ms-transition: all 0.3s ease-in 0s;
		 -o-transition: all 0.3s ease-in 0s;
			transition: all 0.3s ease-in 0s;*/
}

.left-nav ul li a:hover, .left-nav ul li .current {
	background-image: linear-gradient(to right, #05C7FF, #479DE4, #8874C8,#D842AE);
	font-weight: bold;
	color: #fff;
}


#main-wrapper {
	float: left;
	margin-left: 18%;
	width: 82%;
}

.content-header {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 30px 0 35px;
	text-align: center;
}

.welcome {
	font-size: 1em;
	line-height: 26px;
	margin: 35px auto 0;
}

.features {
	margin-top: 50px;
}

.features ul li {
	list-style: square outside none;
	margin-bottom: 15px;
}

.features > ul {
	padding-left: 18px;
}

.author {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-top: 50px;
	padding: 30px 0;
}

.author-info {
	font-size: 1em;
	line-height: 28px;
	margin: 0 auto;
	width: 50%;
}

.section-content {
	font-size: 1em;
	line-height: 25px;
}

.section-content li {
	margin-bottom: 15px;
}

.section-content a:hover {
	text-decoration: underline;
}

.script-source li {
	list-style: square outside none;
	margin-bottom: 10px;
}

#twitter-feed li,
#flickr li {
	line-height: 25px;
	margin-bottom: 10px;
}

#twitter-feed img {
	border: 1px solid #ddd;
	box-shadow: 2px 3px 3px #ddd;
	height: auto;
	margin-top: 10px;
	max-width: 100%;
}




/**************************************Estilos agregados******************************************/
.btn_container{
	text-align: center;
}
.btn_container button {
	outline: none;
	color: white;
	font-size: 1em;
	font-family: inherit;
	border: none;
	padding: 10px;
	background-color: #37BA98;
	transition: all .3s ease;
}

.btn_container button:hover{
	box-shadow: 0px 3px 3px #ddd;
	background-color: #D2E46D;
}

.img_container{
	width: 100%;
	text-align: center;
}

.img_container img{
	width: 90% !important;
}

.infographic_container{
	width: 100%;
	text-align: center;
}

.infographic_container img{
	width: 60% !important;
}

#about_KualiTlakah{
	text-align: center;
	background-color: #DDDDDD;
}

#about_KualiTlakah p{
	text-align: center;
	width: 60%;
	margin: auto;
}

#about_KualiTlakah hr{
	width: 60%;
	border: 1px solid white;
}

#about_KualiTlakah img{
	width: 115px;
}


/*************************************************************************************************/


#special_body{
	background-color: #06C7FF;
	transition: all 3s ease;
}

#container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

#float_box{
	max-width: 50%;
	text-align: center !important;
}

#float_box input {
	/*//background-color: red;*/
	height: 40px;
	margin: 5px;
	font-size: 1em;
	font-family: inherit;
	width: 270px;
	max-width: 270px;
	box-sizing: border-box;
	text-align: center;
	font-family: "Segoe UI", sans-serif;
	outline: none;
}

#float_box input[type="button"]{
	border: none;
	color: white;
	background-color: #333333;
	text-decoration: none;
	font-weight: bold;
}

#float_box img{
	width: 90px;
	transform: translateY(10px);
}

#float_box strong{
	color: white;
	font-size: 30px;
}


#float_box a {
	margin: 15px;
	color: white;
}

#float_box hr{
	border: .5px solid white;
	width: 75%;
}

/********************Lootboxes*************************/

.box_lootboxes{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.lootbox{
	background-color: white;
	width: 30%;
	height: auto;
	box-sizing: border-box !important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	cursor: pointer;
}

.lootbox h3, .lootbox p{
	margin: 0 15px 0 15px;
}

.lootbox_img{
	width: 100%;
	height: 200px;
	background-color: rgba(35,35,35,.05);
	max-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#img_lb_01{ background-image: url("../img/img_lb_01.jpg") !important; }
#img_lb_02{ background-image: url("../img/img_lb_02.jpg") !important; }
#img_lb_03{ background-image: url("../img/img_lb_03.jpg") !important; }